force-app/main/default/flows/Site_Visit_Report_Manager_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <choices>
        <name>Choice_Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Negotiate</name>
        <choiceText>Review Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negotiate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckUserChoice</name>
        <label>Check User Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Negotiate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Negotiation</targetReference>
            </connector>
            <label>Negotiate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Site Visit Report Manager Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Report Manager Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approved</name>
        <label>Update Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Management_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Site_Visit_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Negotiation</name>
        <label>Update Negotiation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Negotation_Reason__c</field>
            <value>
                <elementReference>Reason_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Negotiate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Report_Status__c</field>
            <value>
                <stringValue>Negotiable</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit_Report__c</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActionCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Action Completed Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manager_Action_Screen</name>
        <label>Manager Action Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckUserChoice</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;ℹ️ Instructions:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Select &lt;strong&gt;Approve &lt;/strong&gt;to immediately finalize and lock this report.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Select &lt;strong&gt;Review Changes&lt;/strong&gt; to submit feedback. You will need to provide a reason or description.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Selection</name>
            <choiceReferences>Choice_Approve</choiceReferences>
            <choiceReferences>Choice_Negotiate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What action would you like to take?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Input</name>
            <fieldText>Please Provide Reason for Review</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Describe the specific changes required. The report owner(Supervisor)  will see this feedback.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Action_Selection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Negotiate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm Decision</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manager_Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
