force-app/main/default/flows/Site_Visit_Report_Data_Population_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_the_Lead_Details_on_Site_Visit_Report</name>
        <label>Check the Lead Details on Site Visit Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>If_Lead_Appointment_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Approval_details</targetReference>
            </connector>
            <label>If Lead Appointment Approved</label>
        </rules>
        <rules>
            <name>If_Lead_Appointment_Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Reschedule_details</targetReference>
            </connector>
            <label>If Lead Appointment Rescheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Text_AppointmentTimeSlot</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Lead_Details_from_Site_Vist_Report.Appointment_Time_Slots__c})</expression>
    </formulas>
    <formulas>
        <name>Text_RescheduleAppointmentTimeSlot</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Lead_Details_from_Site_Vist_Report.Time_Slots__c})</expression>
    </formulas>
    <formulas>
        <name>Text_SiteVisitTimeSlot</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Site_Visit_Time_Slot__c})</expression>
    </formulas>
    <interviewLabel>Site Visit Report Data Population Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Report Data Population Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Details_from_Site_Vist_Report</name>
        <label>Get Lead Details from Site Vist Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Lead_Details_on_Site_Visit_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_with_Approval_details</name>
        <label>Update Record with Approval details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Site_Address__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Site_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Area_Sq_Ft__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Site_Space__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Date__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Time_Slot__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Time_Slots__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Type__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Confirmation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_User__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Supervisor_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Reschedule_details</name>
        <label>Update Record with Reschedule details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Site_Address__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Site_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Area_Sq_Ft__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Site_Space__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Date__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Rescheduled_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Time_Slot__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Time_Slots__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Type__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Appointment_Confirmation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_User__c</field>
            <value>
                <elementReference>Get_Lead_Details_from_Site_Vist_Report.Supervisor_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Details_from_Site_Vist_Report</targetReference>
        </connector>
        <filterFormula>NOT(ISBLANK({!$Record.Lead__r.Id})) &amp;&amp; {!$Record.RecordType.DeveloperName} = &quot;Lead_Site_Visit_Report&quot;</filterFormula>
        <object>Site_Visit_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
