force-app/main/default/flows/Vendor_Assignment_Abscond_Update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_To_Update_Collection</name>
        <label>Add To Update Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colTasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Vendor_tasks_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Vendor_tasks_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Update_Collection_in_Another_Status</name>
        <label>Add To Update Collection in Another Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colTasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Vendor_tasks_loop_in_another_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Vendor_tasks_loop_in_another_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_On_Current_Task</name>
        <label>Set Status On Current Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>All_Vendor_tasks_loop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on someone else</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_On_Current_Task_in_Another_Status</name>
        <label>Set Status On Current Task in Another Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>All_Vendor_tasks_loop_in_another_Status.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Collection_in_Another_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Vendor_Assignment_Status</name>
        <label>Check Vendor Assignment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Vendor_Assignment_Status_is_Abscond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abscond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Opportunity_to_Abscond</targetReference>
            </connector>
            <label>If Vendor Assignment Status is Abscond</label>
        </rules>
        <rules>
            <name>If_Vendor_Assignment_Status_Not_Abscond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Opportunity_to_Active</targetReference>
            </connector>
            <label>If Vendor Assignment Status Not Abscond</label>
        </rules>
        <rules>
            <name>If_Vendor_Assignment_Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Assignment_Status</targetReference>
            </connector>
            <label>If Vendor Assignment Status is Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vendor Assignment Abscond – Update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Assignment Abscond – Update Task Status</label>
    <loops>
        <name>All_Vendor_tasks_loop</name>
        <label>All Vendor tasks loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Vendor_Assignment_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_On_Current_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>All_Vendor_tasks_loop_in_another_Status</name>
        <label>All Vendor tasks loop in another Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Vendor_Assignment_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_On_Current_Task_in_Another_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Tasks_in_Another_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vendor_Assignment_Tasks</name>
        <label>Get Vendor Assignment Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vendor_Assignment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Tasks</name>
        <label>Update All Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colTasksToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Tasks_in_Another_Status</name>
        <label>Update All Tasks in Another Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colTasksToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor</name>
        <label>Update Vendor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Vendor_tasks_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Status__c</field>
            <value>
                <stringValue>Abscond</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Assignment_Status</name>
        <label>Update Vendor Assignment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Vendor_Opportunity_to_InActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Completion__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Completion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Actual_Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Opportunity_to_Abscond</name>
        <label>Update Vendor Opportunity to Abscond</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Opportunity_Status__c</field>
            <value>
                <stringValue>Abscond</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor_Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Opportunity_to_Active</name>
        <label>Update Vendor Opportunity to Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Vendor_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Opportunity_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor_Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Opportunity_to_InActive</name>
        <label>Update Vendor Opportunity to InActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Vendor_Status_on_Completion_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Opportunity_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor_Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Status</name>
        <label>Update Vendor Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Vendor_tasks_loop_in_another_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Status__c</field>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Status_on_Completion_Stage</name>
        <label>Update Vendor Status on Completion Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Assignment_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Vendor_Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Vendor__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vendor_Assignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colTasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
